.NavigationItems{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-Items: center;
    justify-content: space-between;
    height: 100%;
}

@media (min-width: 500px) and (min-height: 400px){
    .NavigationItems{
       flex-direction: row;
       flex-wrap: wrap;
       width: 100%;
    }
}